.navBox {
    margin-top: 30px;
    max-width: 1320px;
    display: flex;
    align-items: center;
    gap: 140px;

    .urlBox {
        display: flex;
        align-items: flex-start;
        gap: 40px;

        a {
            text-decoration: none;
            font-size: 16px;
            color: #333;
        }
    }

    .contactBox {
        display: flex;
        align-items: center;
        gap: 40px;

        .phone {
            text-decoration: none;
            font-size: 16px;
            font-family: Roboto;
            font-weight: 600;
            letter-spacing: 0.16px;
            color: #333;
            min-width: 125px;
        }

        .button {
            width: 140px;
            height: 45px;
            flex-shrink: 0;
            border-radius: 5px;
            background: #859ba6;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;

            &:hover {
                background-color: #859ba6c3;
            }
        }

        .languageBox {
            display: flex;
        }

        .language {
            width: 30px;
            height: 30px;
            border-radius: 3px;
            background-color: #fff;
            color: #333;
            transition: 0.5s;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 12px;
            font-weight: 700;
            text-align: right;
            letter-spacing: 1px;

            &_active {
                background-color: #859ba6;
                color: #fff;
            }
        }

        .burger {
            display: none;
            transition: 0.5s;
            cursor: pointer;
        }
        .burger_close {
            display: none;
            transition: 0.5s;
            cursor: pointer;
        }
    }
}

.collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 71px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 46px;
    padding-top: 71px;
    width: 100%;
    background-color: #fff;

    .contactBox_collapse {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        a {
            text-decoration: none;
            color: #333;
            font-size: 16px;
        }

        .phone_collapse {
            text-decoration: none;
            color: #333;
            font-weight: 500;
            font-size: 18px;
        }

    }

    .languageBox {
        display: flex;
        margin-bottom: 40px;
        .language {
            width: 25px;
            height: 25px;
            border-radius: 2px;
            font-size: 10px;
            font-weight: 700;
            color: #859ba6;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;
        }

        .language_active {
            background-color: #859ba6;
            color: #fff;
        }
    }

}

@media (max-width: 1400px) {
    .navBox {
        gap: 5%;
        justify-content: space-around;
    }
}
@media (max-width: 1200px) {
    .phone {
        display: none;
    }
}

@media (max-width: 992px) {
    .navBox {
        .image {
            width: 120px !important;
            height: 22px !important;
        }
        .urlBox {
            gap: 30px;
            a {
                font-size: 13px;
            }
        }

        .contactBox {
            gap: 25px;
            .button {
                width: 100px;
                height: 35px;
                font-size: 14px;
            }

            .language {
                width: 25px;
                height: 25px;
                font-size: 10px;
            }
        }
    }
}

@media (max-width: 768px) {
    .navBox {
        .urlBox {
            gap: 15px;
            a {
                font-size: 11px;
            }
        }
        .contactBox {
            .button {
                width: 80px;
                height: 28px;
                font-size: 12px;
            }
            .languageBox {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .navBox {
        .urlBox {
            gap: 15px;
            a {
                font-size: 11px;
            }
        }
        .contactBox {
            .button {
                width: 80px;
                height: 28px;
                font-size: 12px;
            }
            .languageBox {
                display: none;
            }
        }
    }
}

@media (max-width: 576px) {
    .navBox {
        gap: normal;
        width: 284px;
        height: 30px;
        padding: 15px 21px 15px 15px;
        justify-content: flex-start;
        .image {
            width: 91px !important;
            height: 18px !important;
            padding-right: 48px;
        }
        .urlBox {
            display: none;
        }
        .contactBox {
            gap: 15px;
            .burger {
                display: block;
            }
            .burger_close {
                display: block;
            }

            .button {
                gap: normal;
                width: 100px;
                height: 30px;
                font-weight: 400;
                color: #859ba6;
                background-color: #fff;
                border-radius: 4px;
                border: 1.5px solid #859ba6;
            }
        }
    }
}
