@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");

* {
    font-family: "Roboto", sans-serif;
    .input {
        box-sizing: border-box;
    }
    
}

input[type="text"] {
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit; 
    margin: 0; 
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#__next {
    width: 100%;
}

@media (max-width: 576px) {
    #__next {
        width: inherit;
    }

    body {
        display: block;
    }
}
